services:
  nginx:
    restart: unless-stopped
    container_name: ${PROJECT_NAME}_nginx
    build:
      context: ./src-nginx
      args:
        url_docker: ${url_docker_index}
    environment:
      - NGINX_ENVSUBST_TEMPLATE_SUFFIX=.template
      - NGINX_ENVSUBST_TEMPLATE_DIR=/etc/nginx/templates
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx/conf.d
      - SHARED_DATA_DIR=${SHARED_DATA_DIR}
      - NGINX_LOG_FOLDER=${SHARED_LOGS_DIR}/nginx/
      - NGINX_STATIC_FOLDER=${SHARED_DATA_DIR}/www/static/
      - NGINX_MEDIA_FOLDER=${SHARED_DATA_DIR}/www/media/
      - NGINX_PORT_HTTP=${NGINX_PORT_HTTP}
      - NGINX_PORT_HTTPS=${NGINX_PORT_HTTPS}
      - DJANGO_PORT=${DJANGO_PORT}
    ports:
      - "${NGINX_PORT_HTTP}:${NGINX_PORT_HTTP}"
      - "${NGINX_PORT_HTTPS}:${NGINX_PORT_HTTPS}"
    volumes:
      - ./src-nginx/templates:/etc/nginx/templates
      - datashare:/datashare
      - nginx_cache:/var/cache/nginx
    networks:
      - appnet

volumes:
  datashare:
  applogs:
  cache_nginx:

networks:
  appnet:
